@font-face {
    font-family: 'b-nazanin';
    src: url('../../../font/BNazanin.ttf');
    /* src: url('../fonts/BYekan.woff') format('woff');
    url('../fonts/BYekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; */
}

/* C:\Users\Reza\Desktop\Saed\saed\static\css\jcr\base\font.css


C:\Users\Reza\Desktop\Saed\saed\static\font\Iranian Sans.ttf */

/* body{
    font-family: "iransans";
} */
